.box{
    height: 400px;
    width: 650px;
    background-color: red; 
     background-color: white;
    box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.347);
    border-radius: 20px;
    overflow: hidden;
} 

.middle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.top1{
    height: 90px;
    width: 100%;
    /* background-color: red; */
    background-color: #6366F1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top1 img{
    height: 40px;
}

.top1 h2{
    font-size: 19px;
    font-family: "gilroy";
    font-weight: 500;
    text-transform: capitalize;
    color: white;
    /* margin-top: 10px; */
}

.bottom{
    height: 310px;
    width: 100%;
    /* background-color: red; */   
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    position: relative;
}

.btm1{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input{
    height: 35px;
    width: 500px;
    border: 1px solid grey;
    font-family: "gilroy";
    font-weight: 600;
    border-radius: 4px;
}

#names{
    padding: 8px;
}

#Password{
    margin-top: 20px;
    padding: 8px;
}

#security{
    height: 30px;
    width: 150px;
    padding: 8px;

}

.security{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0px 74px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0px 74px;
}


.btn{
    padding: 6px 20px;
    z-index: 99;
    font-family: "gilroy";
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

#back{
    background-color: lightblue;
    color: white;
}

#login{
    background-color: rgb(226, 58, 39);
    color: white;
}

h3{
    margin-top: 4px;
    position: absolute;
    right: 6.5%;
    font-family: "gilroy";
    font-weight: 500;
    text-transform: capitalize;
    color: rgb(75, 75, 174);
    font-size: 14px;
    cursor: pointer;
}

.footer{
    position: relative;
    margin-top: 40px;
    height: 340px;
    width: 100%;
    /* background-color: lightblue; */
    background-color: #04A6E2;
}

.footer{
    padding: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer h2{
    font-family: "gilroy";
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    /* border-bottom: 2px solid grey; */
    letter-spacing: 1.2px;
   
}

.alllinks{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.smalllinks{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.smalllinks a{
    margin-top: 6px;
    font-family: "gilroy";
    font-weight: 500;
    text-transform: capitalize;
    /* border-bottom: 2px solid red; */
    color: white;
}

#keyContacts{
    margin-left: 100px;
}

#Technical{
    margin-left: 100px;
}

#email{
    font-size: 22px;
}

.icons{
    margin-top: 8px;
    display: flex;
}

#fb{
    height: 30px;
}

#twt{
    height: 30px;
    margin-left: 10px;
}

.last p{
    margin-top: 40px;
    text-align: center;
    font-family: "gilroy";
    font-weight: 600;
    color: white;
    font-size: 14px;
}


#niclogo{
    position: absolute;
    bottom: 8%;
    right: 22%;
}