.rec{
    width: 85%;
    height: 1000px;
    border:  2px solid black;
    margin-top: 20px;
    padding: 26px;
}

.center h1{
    font-size: 20px;
    font-family: "gilroy";
    font-weight: 600;
    text-transform: capitalize;
    color: #667EEA;
   
}

.center{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rec p{
    font-size: 14px;
    font-family: "gilroy";
    font-weight: 500;
    line-height: 30px;
}

.points{
    margin-top: 50px;
    /* color: blueviolet; */
}